<body style="background-color: #2D2424!important;">
<div class="d-flex justify-content-center py-5" style="background-color: #2D2424!important;">
<div class="card p-4" style="background-color: #E0C097!important;">
<div class="">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  </div>
  <a><%= render "devise/shared/links" %></a>
  <hr class="my-2" style="background-color: #2D2424!important;">
  <a class="pt-2"><%= link_to "Home", root_path, :style => "color: #2D2424!important;" %></a>
<% end %>



</div>
</div>
</div>
</body>