<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link" style="color: white" rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>
        <% end %>
        <% if !user_signed_in? %>
          <a class="nav-link" style="color: white" href="/users/sign_in">Sign in</a>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: green"><%= notice %></a>
      </li>
    </ul>
  </div>
</nav>

<div style="background-image: url('/images/deadpool.jpeg')">
<div class="contentarea">
  <button type="button" class="btn btn-primary expanding" style="margin-top: 1rem;">
    <a style="color: white" href="/projects/new">New Project</a>
  </button>
  <div class="row">
    <div class="leftcolumn">

    <% @projects.each do |project| %>
      <div class="card" style="height: 275px; overflow: hidden;">
        <div class="card-body">
          <h2 class="card-title"><%= project.title %></h2>
          <p class="card-text" style="height: 100px; overflow: scroll"><%= project.description %></p>
          <div style="display: flex; justify-content: space-evenly;">
            <button type="button" class="btn btn-outline-primary"><%= link_to 'Show', project %></button>
            <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_project_path(project) %></button>
            <button type="button" class="btn btn-outline-primary"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <img class="fakeimg" src="/images/lewis_robinsons.png" alt="Tyler Semple profile picture" />
        <p style="margin-top: 1rem;"> Hello my name is Tyler Semple. I am studying a Bacholer of Inovation with a Computer Science degree at University of Colorado at Colorado Springs. This profile pic is almost an exact replica of me, 2 years ago. </p>
      </div>
    </div>
  </div>
</div>
</div>