<p id="notice"><%= notice %></p>

<style>
h1 {text-align: center;}
</style>
<h1>Projects</h1>

<div class = "container">
  <% @projects.each do |project| %>
    <div class="row">
      <div class="col-md-4">
        <h2><%=project.title%></h2>
        <p><%=project.description%></p>
        <p>
          <a class="btn btn-secondary"<%= link_to 'Show', project %></a>
          <a class="btn btn-secondary"<%= link_to 'Edit', edit_project_path(project) %></a>
          <a class="btn btn-secondary"<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<a class="btn btn-secondary"<%= link_to 'New Project', new_project_path %></a>
<%= button_to "Log Out", destroy_student_session_path, method: :delete  %>