<div class="container-fluid">
<div>
<% @projects.each_with_index do |project, index| %>
  <% if (index % 3) == 0 %>
  </div>
  <div class="row mb-4 justify-content-center">
  <% end %>
    <div class="col" style="width: 20%; max-width: 20em;">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-truncate"><%= project.title %></h2>
          <p class="card-text text-truncate"><%= project.description.html_safe %></p>
        </div>
      <div class="card-footer text-center"><%= button_to 'Show', project, :method => :get, :class => "btn btn-primary btn-sm mr-2 btn-block", form: {style: 'display:inline-block;'} %>  <% if student_signed_in? %><%= button_to 'Edit', edit_project_path(project), :method => :get, :class => "btn btn-secondary btn-sm mr-2 btn-block", form: {style: 'display:inline-block;'} %>
      <%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm btn-block", form: {style: 'display:inline-block;'} %><% end %></div>
    </div>
    </div>
<% end %>
</div>