<div style="padding: 10rem; text-align: center; background-color: red; height: 100%">
  <div style="display: flex; justify-content: space-evenly;">

    <p
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p 
      <id="notice"><%= notice %>
      <%= @project.description %>
    </p>

    
    <p 
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </p>

  </div>
</div>