<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark">
    <div class="container-fluid text-white">
    <div class="col align-self-start"> <ul class="navbar-nav"><li class="nav-item active"><%= link_to "Home", root_path, :class => "nav-link" %></li></ul></div>
    <div class="col align-self-center text-center font-weight-bold">
        <% if Student.count > 0 %>
          <%= Student.find(1).name %>'s
        <% end %>
         Portfolio
    </div>
    <div class="col align-self-end text-right">
      <% if student_signed_in? %><%= button_to 'New Project', new_project_path, :method => :get, :class => "btn btn-success my-2 my-sm-0" %><% end %>
    </div>
    </div>
  </nav>

  <main role="main">


  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <div>
  <%= yield %>
  </div>

</main>

    
    <nav class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark justify-content-center">
      <ul class="navbar-nav">
      <% if Student.count == 0 %>
        <li class="nav-item active"><%= link_to "Sign up", new_registration_path(Student), :class => "nav-link" %></li>
      <% elsif student_signed_in? %>
        <li class="nav-item active pr-5"><%= link_to "Sign Out", destroy_student_session_path, method: :delete, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to "Change Student", edit_registration_path(Student), :class => "nav-link" %></li>
      <% else %>
        <li class="nav-item active"><%= link_to "Sign in", new_session_path(Student), :class => "nav-link" %></li>
      <% end %>
      </ul>
    </nav>

  </body>
</html>